{% extends 'base.html.twig' %}

{% block body %}
    <h1>ajouter</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
   <br>
            <a href="{{ path('GestionEtudiant_index') }}"><span class="icon fa-backward"></a>

{% endblock %}
